

#wrapper {
	width: 100%;
}


#loginForm input, #loginForm button {
	display: block;
	margin: auto;
	margin-bottom: 1em;
}

#list > ul > li {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#list #addForm li {
	width: 100%;
	display: block;
}

#list #addForm li input {
	width: 75%;
	text-align: left;
}